<div><a href = "https://www.rhspecialistinsurance.co.uk/?utm_campaign=RHS&utm_medium=web&utm_source=Club-Triumph&utm_content=header"><img src = "[% c.uri_for('/static','banners','rh_banner.jpg') %]" width = 1110></a>
</div>
