<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>.notdef</key>
	<string>.notdef.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>uni0021</key>
	<string>uni0021.glif</string>
	<key>uni0022</key>
	<string>uni0022.glif</string>
	<key>uni0023</key>
	<string>uni0023.glif</string>
	<key>uni0024</key>
	<string>uni0024.glif</string>
	<key>uni0025</key>
	<string>uni0025.glif</string>
	<key>uni0026</key>
	<string>uni0026.glif</string>
	<key>uni0027</key>
	<string>uni0027.glif</string>
	<key>uni0028</key>
	<string>uni0028.glif</string>
	<key>uni0029</key>
	<string>uni0029.glif</string>
	<key>uni002A</key>
	<string>uni002A.glif</string>
	<key>uni002B</key>
	<string>uni002B.glif</string>
	<key>uni002C</key>
	<string>uni002C.glif</string>
	<key>uni002D</key>
	<string>uni002D.glif</string>
	<key>uni002E</key>
	<string>uni002E.glif</string>
	<key>uni002F</key>
	<string>uni002F.glif</string>
	<key>uni0030</key>
	<string>uni0030.glif</string>
	<key>uni0031</key>
	<string>uni0031.glif</string>
	<key>uni0032</key>
	<string>uni0032.glif</string>
	<key>uni0033</key>
	<string>uni0033.glif</string>
	<key>uni0034</key>
	<string>uni0034.glif</string>
	<key>uni0035</key>
	<string>uni0035.glif</string>
	<key>uni0036</key>
	<string>uni0036.glif</string>
	<key>uni0037</key>
	<string>uni0037.glif</string>
	<key>uni0038</key>
	<string>uni0038.glif</string>
	<key>uni0039</key>
	<string>uni0039.glif</string>
	<key>uni003A</key>
	<string>uni003A.glif</string>
	<key>uni003B</key>
	<string>uni003B.glif</string>
	<key>uni003C</key>
	<string>uni003C.glif</string>
	<key>uni003D</key>
	<string>uni003D.glif</string>
	<key>uni003E</key>
	<string>uni003E.glif</string>
	<key>uni003F</key>
	<string>uni003F.glif</string>
	<key>uni0040</key>
	<string>uni0040.glif</string>
	<key>uni0041</key>
	<string>uni0041.glif</string>
	<key>uni0042</key>
	<string>uni0042.glif</string>
	<key>uni0043</key>
	<string>uni0043.glif</string>
	<key>uni0044</key>
	<string>uni0044.glif</string>
	<key>uni0045</key>
	<string>uni0045.glif</string>
	<key>uni0046</key>
	<string>uni0046.glif</string>
	<key>uni0047</key>
	<string>uni0047.glif</string>
	<key>uni0048</key>
	<string>uni0048.glif</string>
	<key>uni0049</key>
	<string>uni0049.glif</string>
	<key>uni004A</key>
	<string>uni004A.glif</string>
	<key>uni004B</key>
	<string>uni004B.glif</string>
	<key>uni004C</key>
	<string>uni004C.glif</string>
	<key>uni004D</key>
	<string>uni004D.glif</string>
	<key>uni004E</key>
	<string>uni004E.glif</string>
	<key>uni004F</key>
	<string>uni004F.glif</string>
	<key>uni0050</key>
	<string>uni0050.glif</string>
	<key>uni0051</key>
	<string>uni0051.glif</string>
	<key>uni0052</key>
	<string>uni0052.glif</string>
	<key>uni0053</key>
	<string>uni0053.glif</string>
	<key>uni0054</key>
	<string>uni0054.glif</string>
	<key>uni0055</key>
	<string>uni0055.glif</string>
	<key>uni0056</key>
	<string>uni0056.glif</string>
	<key>uni0057</key>
	<string>uni0057.glif</string>
	<key>uni0058</key>
	<string>uni0058.glif</string>
	<key>uni0059</key>
	<string>uni0059.glif</string>
	<key>uni005A</key>
	<string>uni005A.glif</string>
	<key>uni005B</key>
	<string>uni005B.glif</string>
	<key>uni005C</key>
	<string>uni005C.glif</string>
	<key>uni005D</key>
	<string>uni005D.glif</string>
	<key>uni005E</key>
	<string>uni005E.glif</string>
	<key>uni005F</key>
	<string>uni005F.glif</string>
	<key>uni0060</key>
	<string>uni0060.glif</string>
	<key>uni0061</key>
	<string>uni0061.glif</string>
	<key>uni0062</key>
	<string>uni0062.glif</string>
	<key>uni0063</key>
	<string>uni0063.glif</string>
	<key>uni0064</key>
	<string>uni0064.glif</string>
	<key>uni0065</key>
	<string>uni0065.glif</string>
	<key>uni0066</key>
	<string>uni0066.glif</string>
	<key>uni0067</key>
	<string>uni0067.glif</string>
	<key>uni0068</key>
	<string>uni0068.glif</string>
	<key>uni0069</key>
	<string>uni0069.glif</string>
	<key>uni006A</key>
	<string>uni006A.glif</string>
	<key>uni006B</key>
	<string>uni006B.glif</string>
	<key>uni006C</key>
	<string>uni006C.glif</string>
	<key>uni006D</key>
	<string>uni006D.glif</string>
	<key>uni006E</key>
	<string>uni006E.glif</string>
	<key>uni006F</key>
	<string>uni006F.glif</string>
	<key>uni0070</key>
	<string>uni0070.glif</string>
	<key>uni0071</key>
	<string>uni0071.glif</string>
	<key>uni0072</key>
	<string>uni0072.glif</string>
	<key>uni0073</key>
	<string>uni0073.glif</string>
	<key>uni0074</key>
	<string>uni0074.glif</string>
	<key>uni0075</key>
	<string>uni0075.glif</string>
	<key>uni0076</key>
	<string>uni0076.glif</string>
	<key>uni0077</key>
	<string>uni0077.glif</string>
	<key>uni0078</key>
	<string>uni0078.glif</string>
	<key>uni0079</key>
	<string>uni0079.glif</string>
	<key>uni007A</key>
	<string>uni007A.glif</string>
	<key>uni007B</key>
	<string>uni007B.glif</string>
	<key>uni007C</key>
	<string>uni007C.glif</string>
	<key>uni007D</key>
	<string>uni007D.glif</string>
	<key>uni007E</key>
	<string>uni007E.glif</string>
	<key>uni007F</key>
	<string>uni007F.glif</string>
	<key>uni00A2</key>
	<string>uni00A2.glif</string>
	<key>uni00A3</key>
	<string>uni00A3.glif</string>
	<key>uni00A4</key>
	<string>uni00A4.glif</string>
	<key>uni00A5</key>
	<string>uni00A5.glif</string>
	<key>uni00A6</key>
	<string>uni00A6.glif</string>
	<key>uni00A7</key>
	<string>uni00A7.glif</string>
	<key>uni00A8</key>
	<string>uni00A8.glif</string>
	<key>uni00A9</key>
	<string>uni00A9.glif</string>
	<key>uni00AA</key>
	<string>uni00AA.glif</string>
	<key>uni00AB</key>
	<string>uni00AB.glif</string>
	<key>uni00AD</key>
	<string>uni00AD.glif</string>
	<key>uni00AE</key>
	<string>uni00AE.glif</string>
	<key>uni00AF</key>
	<string>uni00AF.glif</string>
	<key>uni00B0</key>
	<string>uni00B0.glif</string>
	<key>uni00B1</key>
	<string>uni00B1.glif</string>
	<key>uni00B2</key>
	<string>uni00B2.glif</string>
	<key>uni00B3</key>
	<string>uni00B3.glif</string>
	<key>uni00B4</key>
	<string>uni00B4.glif</string>
	<key>uni00B5</key>
	<string>uni00B5.glif</string>
	<key>uni00B6</key>
	<string>uni00B6.glif</string>
	<key>uni00B7</key>
	<string>uni00B7.glif</string>
	<key>uni00B8</key>
	<string>uni00B8.glif</string>
	<key>uni00B9</key>
	<string>uni00B9.glif</string>
	<key>uni00BA</key>
	<string>uni00BA.glif</string>
	<key>uni00BB</key>
	<string>uni00BB.glif</string>
	<key>uni00BC</key>
	<string>uni00BC.glif</string>
	<key>uni00BD</key>
	<string>uni00BD.glif</string>
	<key>uni00BE</key>
	<string>uni00BE.glif</string>
	<key>uni00BF</key>
	<string>uni00BF.glif</string>
	<key>uni00C0</key>
	<string>uni00C0.glif</string>
	<key>uni00C1</key>
	<string>uni00C1.glif</string>
	<key>uni00C2</key>
	<string>uni00C2.glif</string>
	<key>uni00C3</key>
	<string>uni00C3.glif</string>
	<key>uni00C4</key>
	<string>uni00C4.glif</string>
	<key>uni00C5</key>
	<string>uni00C5.glif</string>
	<key>uni00C6</key>
	<string>uni00C6.glif</string>
	<key>uni00C7</key>
	<string>uni00C7.glif</string>
	<key>uni00C8</key>
	<string>uni00C8.glif</string>
	<key>uni00C9</key>
	<string>uni00C9.glif</string>
	<key>uni00CA</key>
	<string>uni00CA.glif</string>
	<key>uni00CB</key>
	<string>uni00CB.glif</string>
	<key>uni00CC</key>
	<string>uni00CC.glif</string>
	<key>uni00CD</key>
	<string>uni00CD.glif</string>
	<key>uni00CE</key>
	<string>uni00CE.glif</string>
	<key>uni00CF</key>
	<string>uni00CF.glif</string>
	<key>uni00D0</key>
	<string>uni00D0.glif</string>
	<key>uni00D1</key>
	<string>uni00D1.glif</string>
	<key>uni00D2</key>
	<string>uni00D2.glif</string>
	<key>uni00D3</key>
	<string>uni00D3.glif</string>
	<key>uni00D4</key>
	<string>uni00D4.glif</string>
	<key>uni00D5</key>
	<string>uni00D5.glif</string>
	<key>uni00D6</key>
	<string>uni00D6.glif</string>
	<key>uni00D7</key>
	<string>uni00D7.glif</string>
	<key>uni00D8</key>
	<string>uni00D8.glif</string>
	<key>uni00D9</key>
	<string>uni00D9.glif</string>
	<key>uni00DA</key>
	<string>uni00DA.glif</string>
	<key>uni00DB</key>
	<string>uni00DB.glif</string>
	<key>uni00DC</key>
	<string>uni00DC.glif</string>
	<key>uni00DD</key>
	<string>uni00DD.glif</string>
	<key>uni00DE</key>
	<string>uni00DE.glif</string>
	<key>uni00DF</key>
	<string>uni00DF.glif</string>
	<key>uni00E0</key>
	<string>uni00E0.glif</string>
	<key>uni00E1</key>
	<string>uni00E1.glif</string>
	<key>uni00E2</key>
	<string>uni00E2.glif</string>
	<key>uni00E3</key>
	<string>uni00E3.glif</string>
	<key>uni00E4</key>
	<string>uni00E4.glif</string>
	<key>uni00E5</key>
	<string>uni00E5.glif</string>
	<key>uni00E6</key>
	<string>uni00E6.glif</string>
	<key>uni00E7</key>
	<string>uni00E7.glif</string>
	<key>uni00E8</key>
	<string>uni00E8.glif</string>
	<key>uni00E9</key>
	<string>uni00E9.glif</string>
	<key>uni00EA</key>
	<string>uni00EA.glif</string>
	<key>uni00EB</key>
	<string>uni00EB.glif</string>
	<key>uni00EC</key>
	<string>uni00EC.glif</string>
	<key>uni00ED</key>
	<string>uni00ED.glif</string>
	<key>uni00EE</key>
	<string>uni00EE.glif</string>
	<key>uni00EF</key>
	<string>uni00EF.glif</string>
	<key>uni00F0</key>
	<string>uni00F0.glif</string>
	<key>uni00F1</key>
	<string>uni00F1.glif</string>
	<key>uni00F2</key>
	<string>uni00F2.glif</string>
	<key>uni00F3</key>
	<string>uni00F3.glif</string>
	<key>uni00F4</key>
	<string>uni00F4.glif</string>
	<key>uni00F5</key>
	<string>uni00F5.glif</string>
	<key>uni00F6</key>
	<string>uni00F6.glif</string>
	<key>uni00F7</key>
	<string>uni00F7.glif</string>
	<key>uni00F8</key>
	<string>uni00F8.glif</string>
	<key>uni00F9</key>
	<string>uni00F9.glif</string>
	<key>uni00FA</key>
	<string>uni00FA.glif</string>
	<key>uni02C6</key>
	<string>uni02C6.glif</string>
	<key>uni02C7</key>
	<string>uni02C7.glif</string>
	<key>uni02C9</key>
	<string>uni02C9.glif</string>
	<key>uni02D8</key>
	<string>uni02D8.glif</string>
	<key>uni02D9</key>
	<string>uni02D9.glif</string>
	<key>uni02DA</key>
	<string>uni02DA.glif</string>
	<key>uni02DB</key>
	<string>uni02DB.glif</string>
	<key>uni02DC</key>
	<string>uni02DC.glif</string>
	<key>uni02DD</key>
	<string>uni02DD.glif</string>
	<key>uni0300</key>
	<string>uni0300.glif</string>
	<key>uni0301</key>
	<string>uni0301.glif</string>
	<key>uni0302</key>
	<string>uni0302.glif</string>
	<key>uni0303</key>
	<string>uni0303.glif</string>
	<key>uni0304</key>
	<string>uni0304.glif</string>
	<key>uni0306</key>
	<string>uni0306.glif</string>
	<key>uni0307</key>
	<string>uni0307.glif</string>
	<key>uni0308</key>
	<string>uni0308.glif</string>
	<key>uni030A</key>
	<string>uni030A.glif</string>
	<key>uni030B</key>
	<string>uni030B.glif</string>
	<key>uni030C</key>
	<string>uni030C.glif</string>
	<key>uniFFFF</key>
	<string>uniFFFF.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>Ccircumflex</key>
	<string>Ccircumflex_.glif</string>
	<key>Cdotaccent</key>
	<string>Cdotaccent_.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>Ebreve</key>
	<string>Ebreve_.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>Gcircumflex</key>
	<string>Gcircumflex_.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>Gdotaccent</key>
	<string>Gdotaccent_.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>Gcommaaccent</key>
	<string>Gcommaaccent_.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>Hcircumflex</key>
	<string>Hcircumflex_.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>Hbar</key>
	<string>Hbar_.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>Itilde</key>
	<string>Itilde_.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>Ibreve</key>
	<string>Ibreve_.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>IJ</key>
	<string>IJ_.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>Jcircumflex</key>
	<string>Jcircumflex_.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>Lcommaaccent</key>
	<string>Lcommaaccent_.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>Ldot</key>
	<string>Ldot_.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>Ncommaaccent</key>
	<string>Ncommaaccent_.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>napostrophe</key>
	<string>napostrophe.glif</string>
	<key>Eng</key>
	<string>Eng_.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>Obreve</key>
	<string>Obreve_.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
    </dict>
</plist>
