<A HREF="[% c.uri_for('/conman/list') %]">LIST</A>
<A HREF="[% c.uri_for('/content',pid,'content') %]">VIEW</A>
<A HREF="[% c.uri_for('/conman/pid',pid,'edit') %]">EDIT</A>
<FORM METHOD=POST>
Title <INPUT NAME="title" VALUE = "[% title %]"><BR>
<TEXTAREA NAME = 'content' ROWS=50 COLS=100>[% content %]</TEXTAREA>
<BR>
<INPUT TYPE=SUBMIT>
</FORM>
    

