[% WRAPPER 'menu/content.tt2' ; meta.mceedit =0 ;
IF form_stages ; PROCESS "form_nav_bar.tt2" ; END %]
    [%# Render the HTML::FormHandler Form %]
    [% form.render %]
    

[% END ; #of wrapper %]

