<A HREF = "[% url = 'image' _ image.id _ '.' _ image.extension ; c.uri_for('/menu',menu_item.pid,'item',image.id,'image','h-600') %]" \
description = "[% image.title | html %] uploaded [% image.created.strftime( '%a %d %b %Y' ) ; IF image.author.username ; %] by <a href = \'/\'></a>[% image.author.username %]</a>[% 
END %]<br>tags - [% 
FOREACH tag IN image.tags(c.user) %]<a href = \'[% c.uri_for('/menu',tag.id,'gallery') %]\' >[% tag.title %]</a> [% END ;
IF image.editable_by(c.user) %]<A href = \'[% c.uri_for('/menu',menu_item.pid,'item',image.id,'imageedit') %]\'>edit</a>[% END %]"\
title = "[% image.title | html %] uploaded [% image.created.strftime( '%a %d %b %Y' ) ; IF image.author.username ; %] by [% image.author.username ; END %]"><img src ="[% url = 'image' _ image.id _ '.' _ image.extension ; c.uri_for('/image','h-150',url) %]"></A>\
