<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>.notdef</key>
	<string>.notdef.glif</string>
	<key>uni0041</key>
	<string>uni0041.glif</string>
	<key>uni0042</key>
	<string>uni0042.glif</string>
	<key>uni0043</key>
	<string>uni0043.glif</string>
	<key>uni0044</key>
	<string>uni0044.glif</string>
	<key>uni0045</key>
	<string>uni0045.glif</string>
	<key>uni0046</key>
	<string>uni0046.glif</string>
	<key>uni0047</key>
	<string>uni0047.glif</string>
	<key>uni0048</key>
	<string>uni0048.glif</string>
	<key>uni0049</key>
	<string>uni0049.glif</string>
	<key>uni004A</key>
	<string>uni004A.glif</string>
	<key>uni004B</key>
	<string>uni004B.glif</string>
	<key>uni004C</key>
	<string>uni004C.glif</string>
	<key>uni004D</key>
	<string>uni004D.glif</string>
	<key>uni004E</key>
	<string>uni004E.glif</string>
	<key>uni004F</key>
	<string>uni004F.glif</string>
	<key>uni0050</key>
	<string>uni0050.glif</string>
	<key>uni0051</key>
	<string>uni0051.glif</string>
	<key>uni0052</key>
	<string>uni0052.glif</string>
	<key>uni0053</key>
	<string>uni0053.glif</string>
	<key>uni0054</key>
	<string>uni0054.glif</string>
	<key>uni0055</key>
	<string>uni0055.glif</string>
	<key>uni0056</key>
	<string>uni0056.glif</string>
	<key>uni0057</key>
	<string>uni0057.glif</string>
	<key>uni0058</key>
	<string>uni0058.glif</string>
	<key>uni0059</key>
	<string>uni0059.glif</string>
	<key>uni005A</key>
	<string>uni005A.glif</string>
	<key>uni0061</key>
	<string>uni0061.glif</string>
	<key>uni0062</key>
	<string>uni0062.glif</string>
	<key>uni0063</key>
	<string>uni0063.glif</string>
	<key>uni0064</key>
	<string>uni0064.glif</string>
	<key>uni0065</key>
	<string>uni0065.glif</string>
	<key>uni0066</key>
	<string>uni0066.glif</string>
	<key>uni0067</key>
	<string>uni0067.glif</string>
	<key>uni0068</key>
	<string>uni0068.glif</string>
	<key>uni0069</key>
	<string>uni0069.glif</string>
	<key>uni006A</key>
	<string>uni006A.glif</string>
	<key>uni006B</key>
	<string>uni006B.glif</string>
	<key>uni006C</key>
	<string>uni006C.glif</string>
	<key>uni006D</key>
	<string>uni006D.glif</string>
	<key>uni006E</key>
	<string>uni006E.glif</string>
	<key>uni006F</key>
	<string>uni006F.glif</string>
	<key>uni0070</key>
	<string>uni0070.glif</string>
	<key>uni0071</key>
	<string>uni0071.glif</string>
	<key>uni0072</key>
	<string>uni0072.glif</string>
	<key>uni0073</key>
	<string>uni0073.glif</string>
	<key>uni0074</key>
	<string>uni0074.glif</string>
	<key>uni0075</key>
	<string>uni0075.glif</string>
	<key>uni0076</key>
	<string>uni0076.glif</string>
	<key>uni0077</key>
	<string>uni0077.glif</string>
	<key>uni0078</key>
	<string>uni0078.glif</string>
	<key>uni0079</key>
	<string>uni0079.glif</string>
	<key>uni007A</key>
	<string>uni007A.glif</string>
	<key>uniFFFF</key>
	<string>uniFFFF.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>space</key>
	<string>space.glif</string>
    </dict>
</plist>
