[% meta.nowrap = 1 %]
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<HEAD>
<title>[% email.subject %]</title>
<style>
body {
	font-family: "Gills Sans","Gillius","Helvetica","freesans","opensans","sans serif","Arial","Microsoft Sans Serif";
}
p {
	font-family: "Gills Sans","Gillius","Helvetica","freesans","opensans","sans serif","Arial","Microsoft Sans Serif";
}
h1 {
	font-family: "Gills Sans","Gillius","Helvetica","freesans","opensans","sans serif","Arial","Microsoft Sans Serif"; 
	font-size: 4em; 
	color: #263a7f; 
	padding-top: 0.7em; 
	padding-left: 15px; 
	margin: 0px; 
	font-weight: bold;
}
h2 {
	font-family: "Gills Sans","Gillius","Helvetica","freesans","opensans","sans serif","Arial","Microsoft Sans Serif"; 
	font-size: 2em; 
	color: #000000; 
	font-weight: normal; 
	padding-top: 0px;
	padding-left: 15px; 
	margin: 0px;
}
.orderform {
    background-color: #eeeeee;
    margin: 2em;
    padding: 1em;

}
blockquote {
	background-color: #E0E0E0;
	text-align: left;
	padding: 1em;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	border-color: #E0E0E0;
}
</style>
</HEAD>
<body>
<a href="[% c.uri_for('/') %]">
	<img align = 'left' src = "data:image/gif;base64,R0lGODlhtACNAOf/AAABHAIAIQABJQEALwUAJQABKwAAOgABNAABOQIBNQgAOwACQAgDQgAIRAsG
OQcINA0IRwkJTAUMRw0MPg8OOQ4PRgoQTBUOTQ4RVAMVTxUSQxAUQhATTwoYWRUXVA0aVRMZTyAV
XBkaShsaWBUdXxQeWQ0iXQ8iYxkgYxkhXh4hUiQeZCIiTxYmZwwqah4nWCIkbyElaRcpXxkncBkp
ZRspaxMtbiYqViYpbSArdR8sbyoqdyEwbSMvciYwYSQwZxsxeSwvXBsycyUveSkxfCA0fBY3fiA1
eCg1bCM1hRk4hiQ2gCw0fxs5hy43aCo3dTQ3XyY4gR07gy43eyg5gik6gyA9hSo7hSk8fzE8dSQ/
iDM9cCw+gjI+fTw+ZyhCizlBbjJChzREiTRGhDlGeTxEhDdHjENHa0FIcT5IgkJJeDtJjz1LhDRN
kTtMiz5Mkj9OfEZMjkdOfUJPg0BPj0tQdElSe0NSklFTfUtUkEZVllBVeU1WhVVWdUxXjElYmVFa
llFckVZeiVVdmVxefVpeg1lhnVNjnltklGNkhGFjm1xkoVtlm11mkWFmi2BnhmVnoGJpmmJso2Rt
l2ltk2xtjWpspGtviW1vqGdxqHNwpG1zn211lG5zpnN0lnJ2kHB4pHh2q3N4q3Z6lHd7nHd8r3l9
pHt/mXyBtIGBr4GDpICEnoCDqnyEsIWFm4SEs4iItouLoYSMuYqNqYmOr42Mu4uOtpGNt5GRp5WR
vI+Tu5GVsJWVq5KVt5OWvpeawpqavZ2ds5uex5+fwp6gvKOjxqamvaCnyaOnw6qnuKinyqurzqat
z6quyq6uxbKvwLOuza2xwa2wzbKyybG00LS4x7W41Li82L2807m+zb/AysO/0b7C0cHB2MbF3cTI
2MzI2snK1MrK4c3N5NLO4M/Q2s7S4tbS5NTV39bX4dXZ6dvY6dvb5tjc7Nre7t7f6eHi7Ofk6eXl
8Ojo8+3r7+vs9vDu8vPx9fXz9/f0+fP4+/r3/P36//j9//7//P///yH5BAEKAP8ALAAAAAC0AI0A
AAj+AP0JHEiwoMGDCBMqXMiwocOHECNKnEixosWLGDNq3Mixo8ePIEOKHEmypMmTKFOqXEmx3zx4
+k7yAyePH8ubKvuZAwXpF76T+4LoECYvJs6jIfd1izSEjqV2KcMl6BKqWDubSLNm3IdtTI4iawb9
WjkKQRlMqHy9M6q1bcR7lFAAoaJlUKl+K/HdsBBmUCdY3fC6HcywXyUPRqJECQOJ2s1PCIBYEbPo
lji2hDMXDLfAhhQqUdZ0EncTVwIhoL9YGlZPs2uCeywUAR0ljihyN4MNcCFF8ZpX3gS/znzPQYnP
iu9YUnczm4ASVEBbWb1veFZ++QpWS2ADNBUrdxT+VWe5b8MC1IoB6YJXkN6x7NZN3ut0reClBUA+
WwkTBtvRZwJkgN5v3mxWAzU/xTfSPXMYgttA92jwgRFSVBjFMMLdFIsAFthQhBWiQJNhPAwoMg5m
CnaEjxpHdMLeQNUgUEMPLcRQRH3+6HMPiiT1c889Aj1TAQQclODGLfIQdM8NPNRyDo8pYnSPGijo
Act4/iz5QQw8CEKLPPdYI4sonaSizFUj9QMPMJ1kUootzMCTzi6FVMCAG8oU5AoEg/jiDZBRamSP
EyQUYcgvwmUzwAnAZLcPMdGFscYdg0AiiizYwJMPllvJQ40kREQhRhx6DGIIJMLY488+uEDgBlT+
Az0CAReQ+EJOhoFSdA8aHgARhSG+wOdPLHiwtw8yXeQQxRVWNKuFGXosYkkmogxjjrAU7TMNKG0o
tmyzzUo6CCapWANkPJsMM9A+EopqyS9J5mpRNgp4FoUetbyYJV7f/BADEEUk5q1iVHyxRqmnSoNr
ROUUsEAKR0hhxRUDK2ZFWJgABySg/qSTQAugrZEKNQvL69A+UMgGmhmpYIOVQPEUcAADEEDwgRCf
RUdbFEXkEAk5HFdEjysaIFBCDznrbEUUOJBwwhN55ElQMgd0t+wivwRt8kP5JPBBFKl1kjVB+tBT
TjS8fFLBAi0IzDMQM2TxTckV3ZOIwykIEXD+FFJcMUQjuxjDTU0F8TKAvffCEu/WENHzwNeghfEu
lAPFs8EAFpRwAgkk8EAMpxv1Ew4UBSCQ+QkxzADMywdlU4AJ0UVxRyr6Mu4QPV6DHZoi/i1kzyhQ
QIFGJdtg+5E+6bhyBhRgFPINQ/c8YIERoN1RSu22M5SPAxmADd4iqjakI+gl4aO1Qp/sFp0epSye
vUHsZHiPCBaAHYYexQiUjzrdiPNOPT+yRz3wQbeU3IMc5GgHPN5BDmwoQxnioAeQ7PGABuggCoBI
RfgEcg9vUC5Q5rhDawbSDy9IYDZRGMQ+4CGLL1ghDoAwxCAAoQdAlKlASAmGjA52hzisIQ7+f4CE
2M7hD20QgG1W4hQ6sLCO7N1jC4OoXT/qYAEpDKET7RgGEYiwHzH8kA5xuAMg7uAL8q1EH4b7ABbE
IAb+jGoQmkCFMvjBjjMMIAuwwFY1UiCMAipIGxF4CtlUUAItWKMfqrCR7gY2mSg0w48qCUcBLFix
K4jBEKlYBl4SAQFLBK0aF0AF9gKVDyicQBTMGYg+KhADkplCLosk2BW+QIVjZIYbBJDABWOnmLq8
YhnV8QIWaheMCEBCRFurxgJ6gAmSDSQfA5gEPiIRAx3ojXo66w0RfME6t1TDYS4oAthAU4QjnMUn
9ujBONZFSDLCKldaKsIfcsEOCH2CHXb+uEAJPACBzHnICEbQQQ5W9xpuUGAAGXBBD4wAhBZcgAEl
cEo+6IGlVukgDKJYRjcVJJUaLEYTxcCWNh5wAzucIhqEKJ0FRkACRKQjPvdYxQZm5oEU0IId0biE
HQKBQ4Gwg21g65P7UnSKZVYPMGy5Bz6w1A92nKISwZAHJAeTj3AEoxob1N/L+rEHCMwlNKkITKBK
2AAUaqETwjDj+x6yD+7p7gudKEaCUtQPKCyAemBTxC3OV5B99OODr9kUX5WUgAwgRzW+AKxmTsGd
3lDBEK+Yqz/6sal81EMcvoCFL0YZH26kQBLFEEc9NsUPzOxjAtMDjRiOKS9JpkA6ioD+hWD2IQ1J
MOIQeuCPcmCxUZhC4QJrWAQkFiEJUejCG1jhRxAWgEI6QOKdUTrtCReziPz1YxtpGMLF2tAGM7Qh
D4bIaqDsQT8u3EEPNbSUWmJyigHU4DuAsIRarRML917hYOrghyrk8h0r6CcOdFgn48JBgAwUgVmT
0QMmatENfLAjQGAZxDK2Rg+ESkoW/qAFCXA2MCqMqhW9DVQiBtCCDq/2FgXCRQFSoBzxBqoPDDBD
KfzxjQt4Zmd0EcMdXCwv8iLABbGU3Gb9kQgGkDHEmWkHrpKhADfIAx8yOAE2lfYZ6NruHRRAQNt0
FgUzVGsfJCpDTwXSj3doBh9dICL+QcqBADrkoxEnEIIOamADvRVhCFMwx1oHgg4KHOADNgACEGrQ
Ai6IQhn5UAMXrNwMQyAZJ9mggTKCdo8CkAIZJGgBCWQAAgRAwAMtHepa7ZFS03HAByJAgAn0QA1k
DCGr9/CBJXiMlFikIBeg40U0JAABORhDqdUYxSzSoVjbxSMZsfjGPvJRjTp8QAfkoAbr4mEBS5iZ
MH0oASqsvKpqxGOqe/adOci3Cg9kgjSDmV8JsIamhPSjHeZ49J77gQx3+JEfs7iAEDIBjcHehB0k
NgMmbDXYfLBiEM4MN0L6YQcuXCPE9yBFB3QgBawZDynJONwVzPAuNRcEHFnAQij+uK3wqUEAEsWY
x0E+oW/F/CFfgzENh8VwaKayAxT/yuB8S24PCvAAE7Cwhj2EE4+P6S4Or0hlW3CxzN5E4Q/rEQg9
NpEDX1kBElIreUKC4AEzLEIUr7AGfILBANSELBUk34g92AEPebj97XCHOzzgQYoSHFi1oriGPcRx
hBxU6DuLgIY95hH3whv+8IhPvOIXz3i5s0MOJdbCGxaBil+8Ax6COEERkENzcdij8fIYLURmEQIz
/CEOb0i96lefejEUoQYusIEOZi+EvtyhCDqQ/ex1wAXw6oH1wA++8IdP/OIb//ir/8IQalCD3Quh
DIAAhBRgv3trXtIQdzD+Gv7+AByItCoMXGhBBzzQgfKb//we4AAEGMD+9kPgAvBff/tpFgEPkP/8
+M+//vfP//77////5wEWIH/z934XQIDudwHj13/pdwE8UApjxhCtYgbdwA7ocIEYmIEauIEc2IEe
+IEgGIIiOIIkWIImeIHhIAN50DsOgQsesAg7p3Um8wJpwIINgQvaFoMyOFY0iCMtmIM7OG896H1A
GITv0w9D+BA4iAo6+BDgZoQggYRp4IM3WIQW0Q/SkAmS0ArYIBjwoAvDEIHI8AtyJRDb4AvDYA/5
0AvD0IbDsAycNQ2/4IZu+EjmgIZuiA30IHVoGBhjWAyAgg1zaA/0YAvDAAz+sLIPwNCGBUIMdLgM
1+YPxECG8CGHrFERUkiFEmiFLTEJQxAFRJAEWpAKNpENMJAEqVAQYJAEYhAvpLADVrAO9FADSqAY
SiAFYgANBiEIRLAzUcAEd7APu/CJsrQG3eAP5RADTCAK/UAGRCAGL0IJQ3AF7YAOK0AFTGALAoEO
MPCLqdAPSFCLUaAEloQh/pAFrBgvjqBdAjYRmUiETHgRwxgdiIAERHAFecIN3fgKBSEHTNCKArEK
2iWL72UFaZAFQMAEcaA1ewADX6EYQAADXJAPwTAEVDAGbMADCakH/ZAOOJAEd+GPZvAinMBF7pAO
K3AFTGAIeGEMOQAaskX+BnwzBlngUVpARGrwjyrnD5ygXQ/ijkn4g/FYEfhAA1HwBbgRDzSwA3cg
OjMQBbBQEHDwj/EikLFIDzaQBJLQD/3gCUMgBjtZOehQDjL5Bc3ADvU0jFdAMvaAB0RgBvfADh51
F3iQBCMpEJ5gkihJMWvQGoLgLTGZBGvwDvlgDBekjWogmDtZklbwkxLxjkrIiRJRDk8pCQPxDKpA
C1X1lFFJEFMJkP5glbJoA0yQCfhAD4hABIwQYnIgmCPkD/OIbpRABGuwD+kwl/1Ql3fpD3lpBSe5
AlbABVEwDv3wA8EJlc3IBHRQHfHgUd+oBlFwVq0gCmMQBY2JiUFZhUP+SRGmSAXaaBDcwJlSSZUB
OZCz+B1fMI5agG4HkZhrsDjzKAmywAgHpi7ogJu6+SK9+ZtfgAg9IAz3+QdsUASBKQbKQA30GQX5
A52KkQTkaJ2OGRGQKZRNmBDd6QsHEZ5QOZ6gaZXtcJ5hgAiNgARRwAgXJxDuCZ8WSQQ7ECp3wB73
GQUhaZfxwpj82QtIIAm0UATAMAfIKZMN+otS0BoySQVAEAP/AqHYOYXwWKEIgQ4xIKMDQQyl8Aqb
uaEEwYugqQrTCA9YyQSdIBDaEANXcIztKZgqegWMoAqCMBeW0A8xOmO8aAbxMptWICcroAXU4AhX
oAVfYA58kAQxuSz+WNAFY4AIeuYPZdkN9EAPhcBFEQoRE6qdTnoQ+UADShAH71BmQkCb/BAOT5kK
+zCqNmGVh8QgTBAG9fClncAP++CSUaCLZ/qeAzGMUYBurbkGDjaXvKldh0QPWXCU9mCNVuANsDoI
90AGgtqMgskOm0IQymoGe9ir19kS2bmJ20kRvDAD9yUJwskEukBj3Gp6enAHkMAP5bACTWAGmeAG
LtcP8WADTSAGf/AGuhOpKMoEtCoQ84hDlMCKa4cDSiAK/pAN6ioGktAt99IP6WoF4pAOMaAEssCs
gRkHF6esa7CTvYmvDjGp2FqpB2EYMTAEWzQEJlqwKzAEQ5ADQ7D+A2IAJJwwsltEBEWAG/CAAirL
sirbCnSzBTuABZE4CzAwBL3jCDAgBfOAkjvACAJRCSk7szXrD+EQAkRgDftQAjugiz+wA8yIBDsQ
Bi7mtVIQL4kAA0DAno95rQuxhCCLEOVACo3gCV0odc4wDXY7DXU7HuHgCY0wCb2wk/ngDHWLt9wQ
DwqRDXXLMewguPGCDoI7D/gguNtAZtnAt367k/YguGaGuKpSDc4ADgWbtwaBuNOQIOUguK+Ztkwa
mdkKhSbjsWsrma6bK7CrEGw7u4xTuwlxu7j7ujRogxLoAaggb737GlCQB5q4tsbkDdcADdAgDdAb
vdL7vM/bDNb+e73W+7zQi73ZK73e+73gG77iO77kW77mG73c2wzaKw3p2wznewy98ASQALxrOwA0
UAZlwAX6u7/8u79YwAWTcgcCfF40tAZcIAZvMMAEHAdi0L8O/MAQHMESPMEUXMH8KwZ0oMB/kAdr
wB8BPMA1pAdmQMFFEAM1QAf58xDBQAEgIAMu/MIwHMMvkAEnsEZsJCl6YAhj8AMmUHttpGNtMAZI
EMNEXMRGfMRInMRKvMQvDAIfcARh8MMCPAZO8AM98AVsxEZtcAc0qcQvIAMv8AQY+hD3kA9mfMZo
nMZnHA0FcAKMBAjDsA968QEoBB6DYA+jqsZ6vMd83Md+/Mf+gJzGfkUPGsABdfwHpZAP+EAImjcw
ANYNyxbI+UC8F3EPGyABeGWdgwAL7uAPZ3BCkUMHGLoP/uZE1fEIu9EbjJE/xqBLyBGdNlTKLDEK
7sVLXpYL9TAK58EsVNAGqhIJjiGDtoBh9JBl4bRa18AOHlBiOxMWwTwYjiMBc0EbemAmzqBlYmAG
h5AklyoKbRsf72ADuYAX8RAEMvIGhuANlNArO6MFMCTLuVFgOKNanVAL9uDEtoEV71Ai4nCijKMP
dvAEuQAf+6ACHHAHomAPPjAhOtNf1uAa/DAKArAAJqADByYJtcAPj2ABrDYQ3JAAY/ALabc1+eYG
tTCt/vD+CQxAB8uADyCQAt5SBBHJTa/RD9VAOgiQAS0QBxoUDRhwB+/ECwjQIoC4Z+HAADUQB7Dw
Ts+AAGHQDuVgAeGkAyhAAnwgVtahD+iwCiyAOXkgDPBAA2YwHv3wyUXwBmH3hMORD4QEFmElGMXB
A/LABylQAyhABsNWbIRxD+VQBwxwBN5gCpsAIcZhnYfCWbki1DYQnZ0wRwNRB48wDRiAApOADvA8
HP2gDWAwB2bs0eoTGq+ADd/sFkEhG2ADLCiND/YQBGAADmptHadZEKZhL9MRx7bjOMcBGlZiZfQg
WTIYC1XjdIZQC2FpMtzQxrETB6XAsUaoGzXgdIMgSrb+Uw0E8FrVIwqJWrxG9FrWGV+0liLpUGDe
ogcuonD2MA3t1g/7IA/wgA9GUWGyYUl38AoxQQ/IoNdaoQ9iN1lekABAZgV+AR/6YA//ww+zxQ7q
MNorwQ4KcASHNgyicAdmMAiZMAww4Q91cAA18AV/kAnhUw42QA3+TFWgMGswQz9FIAaAMBb60A2B
IAV0oAil4AvFoAt3sAipcNltkQwJwAMAlsVx4Bdhxw/FLAGMoXTocAGQEBxr7QhH8Aoc8wwHcARv
MAiKPAk2YjCUMgh6AER6gLYKwgsFcBz+ZTFrEFvq8k08IAqLgztPgArLoOMLvgUxsMnCoihHEAfk
wA/+WWAjsfMdWuBFWiAN8tIPozDms7EzX2AIt0BEZ8ABlrA4p+UB1ZyGmfENJvDckHALwhEjXIBh
s8AB6MFIYmAFiGIy+tAHr5PosSMGmvALE3UBbqAv+aABVXQHqBBSg5EOFlADRaAaPgEjC1Cb8OAB
HtXQVNCnV9AK+K0Z+lAHBZAB/wRQRrAGmHAL9TANRfBO+sACJ3QFdxB0rz0S+EBIiREGFc4WH40N
7/AELSAE1B4FRlAEd9aq2aMPsVAACfBpH/ABHnABLVAGg+AN2DBX+oDi33EoSocUo1B2kaMJwyAs
9GAMxkACJTAC6Wd/LEUCNUAMzW4d8RAMl7AHe5D+CJ8wCo/gBTyABdgSIZisWqWgSQJhDqI2Em3H
QYWdGu8SNPZQABUwPKfwCYSwB4XgCcaA0kaoD+aDGf1wA/jhHYvgCztJCVwANCVxD8cwCGZaDSTW
6u+SIQPu3sX7EK5Qyy63bUFiTMswDx8fEfpgDn6ABaVwbcFQACATMpCQvGMfEekQ7d5jQ/ESDwPw
c6+gDKm7EXD/FYMgCoBCYB+gHzl8+HsfEftwBgcAZGGgCLqQICizAFxgCMZlDuOuEP2wC7C0Wrog
GPgQBGWFi3cgCwo++f5QzAugA2bQCY7p3C9kCb5wDpRcGBKXH7VhCY6JC5ER6Hrw3bKPEPtgD0v+
hReStAAOPmbssGJgIwbvgtgREQwXQHEuFwpZRQgQYARXEAZmpt4/8vvFW4htEBbVcg5NJQIMEDXC
sT2GtTIxH/uzjwBuDBpSAFkAwc/fwH0TSkS5I48ftkx02hh61S3fQIoVLV7EmFHjRo4dPVost6nV
MmytigyxsubOIEuicu3Dx+IDJnsU+6loUIRKlCiAfLH7qBEXAh07o2hRpEsfxXAJaujZR6/LECph
1uiBJOqVMm/KhlmrGVTsWLJlKWYbQIKLGC1U3FKRomWNoVTF+t0DU8RbxUsDariN0iaVOLMULyHo
IYWnGUPLKsZCEGjfvi01oli5AjfMnUWQBg3+gpQJXmHSpU2XU4EgxREpRnleBlS33r5mhCm+K5BB
Z5Q1omwXPpVAiGIrdADVq5gs2D52c2oUieI6uhYxZrAAemda+/ax+1wVaOAi+tudxSF1onbv4qkC
JoxEiVNKXmm0NqRYqa7sYjpKMWoIKaI18twqIgdgBOIuQQU3CoeCBD6wwQgjigBCiBpIIMGGMgAJ
i6J7vBjABCDegGU+0p5BYDgrqMhEvYreCeAABhiAgAMTbACwiAlz6MKcBX8E0iJ7LikAAQs88KAD
DuSY5ZlszKFnKYv2qaMAC4To5BoXy7oniA+KOKkUBCvSJ55wsnkmFhATYICDD0hAgZUtg6T+88d3
Vqljj0qciWfMi/iZDNBkRGCgC1+QMyuaBXogwg1s+Olnsn404ieeZB7Jc5bR6uS004z6+aaTQw5Z
RBJZ4MFnFhogsUbKsfTxoYU7mMnHnE4MUUSSVJSRZ1JPfwW2I35mQaEIMd64AxBLOhlGnF7GKOWa
a6ihBhpruvGGHHj6yWcaarrphlpqjjGlhTGoOacVIqIQI46VOqnlHD+DpTdYfVQZYTgBUxrEkDeK
qEGHIywEQoyVFslEFH3oGQADLN74wxBAisDgghKw4OI1t65IyZJczHG1XpHp5CcfeDZBQYjXNLbC
CiBqaARNY3jZ44TNwrClV33KqQOBFsT+WOQXZJxJpg42S9BhZZ7EgOSWa+zZZ96Rpy6tn2z4wGII
IN4bEK4KaYnH14EI8SAMMaiZcpQCXIDkt37iOYWCBVIwYkAxDOlEK2h6pbpv0vRBowAGPLgRiNcU
K9APEysKB4Ej9LAFI32CYGCQYvaxKB4ocnMBuigUMwILLDb7JWS/Tw8Kn3JcWROCElyooYYYeEDG
9IH64MCNRRa36JkCnshFnYv04eWBBDKgIXYUSBgBj13SwQd16cvqh55k+hABAQac2IWejN5xyhBZ
bCeIgpmgEbsielZRgU0fKJmGnvSnp5+sqOiZ8yJXFuDCEms2IsQC7vAL3gmJHvTAXP1tFEgnfbzA
A3EQxTk2EowEYAEW3pjfAjXoqXcMIANYMEQ7NlKNApRAD7XI4AZVGKRgxOgCORCeRrQBgAQ4TIQr
xCGd8hGPA+JvI/fg4QETmEMiFtGIR0RiEpW4RCY20YlPhGIUpThFKlbRikcMCAA7" width = '180' height = '141' alt = 'Club Triumph logo' border ='0'></a>
<h1>Club Triumph</h1>
<h2>... the club for all Triumphs</h2>
<br clear = all>
[% temp = 'email/' _ mail_template ; PROCESS $temp %]

[% IF  c.action == 'local_groups/emailmembers' %]<small>
<p>You are receiving this e-mail because this e-mail address is recorded as belonging to a member of Club Triumph. If you do not want to receive messages giving information about the Club, its events and Local Groups click <a href = "[% c.uri_for('/code',member.generate_renew_code,'unsubscribe') %]">here</a></p>
<p>Our records show that your Local Group is [% member.local_group.title %]. Is you wish to be associated with and receive emails for a different group click <a href = "[% c.uri_for('/code',member.generate_renew_code,'group_edit') %]">here</a></p></small> [% END %]
</body>
</html>
